
@media (max-width:1189px) {
    .contact {
        margin-left:139px;
    }
    .copyright {
        margin: 0 auto;
        margin-top: 70px;
    }
}

/* 1090px */
@media (max-width:1090px) {
    .section1 {
        width: 900px;
    }
    .map {
        width: 900px;
    }
    .firstbox {
        width: 300px;
        margin: 0 auto;
        justify-content: center;
    }
    .firstbox h2 {
        font-size: 25px;
    }
    .firstbox h4 {
        text-align: center;
    }
    .form {
        width: 900px;
        justify-content: space-around;
    }
    .left-block {
        width: 500px;
    }
    .textarea {
        width: 500px;
    }
    .right-block {
        width: 250px;
    }
    .section4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section4 p {
        font-size: 25px;
    }
    .images img {
        width: 300px;
        height: 300px;
    }
    .div-footer {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
    }
    .copyright {
        max-width: 1000px;
        width: 100%;
        justify-content: space-between;
        font-size: 14px;
    }

    /* 1024px */
@media (max-width:1024px) {
    .contact h2 {
        font-size: 25px;
    }
    .contact {
        margin-left: 100px;
    }
    .section3 {
        justify-content: space-around;
    }
    .block1 {
        width: 300px;
    }
    .images img {
        max-width: 280px;
        width: 100%;
        height: 280px;
    }
}
/* 998 */
@media (max-width: 998px) {
    .div-footer {
        max-width: 950px;
        width: 100%;
        justify-content: space-around;
    }
    .box2 {
        width: auto;
    }
    .section4 {
        height: 150px;
    }

    .copyright {
        margin-top: 30px;
        max-width: 950px;
        width: 100%;
    }
    .box1 p {
        font-size: 14px;
    }
}
/* 950px */
    .div-footer {
        max-width: 900px;
        width: 100%;
        justify-content: space-around;
    }
    .copyright {
        max-width: 900px;
        width: 100%;
        margin-top: 50px
    }
    .box2 {
        width: 100px;
        margin-left: 100px;
    }
    .box3 {
        width: 180px;
        margin-left: 50px;
    }
    .box1 {
        width: 220px;
    }
/* 900px */
@media (max-width:900px) {
    .map {
        width: 750px;
        margin: 0 auto;
    }
    .section1 {
        width: 750px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .section2 {
        width: 750px;
        margin: 0 auto;
    }
    .firstbox {
        width: 750px;
        margin: 0 auto;
        justify-content: center;
    }
    .firstbox h2 {
        margin-left: 250px;
    }
    .form {
        width: 750px;
    }
    .right-block {
        width: 150px;
    }
    .div-footer {
        width: 800px;
    }
    .copyright {
        width: 800px;
    }
    .icon {
        width: 50px;
        height: 50px;
        padding: 17px;
    }
    .box2 {
        margin-left: 70px;
    }
    .box3 {
        font-size: 14px;
    }
    .box2 {
        font-size: 14px;
    }
    .box1 h5 {
        font-size: 20px;
    }
    .images img {
        max-width: 250px;
        width: 100%;
        height: 250px;
    }
    .contact {
        margin-left: 70px;
    }
}
/* 800px */
@media (max-width:800px) {
    .section2 {
        justify-content: flex-start;
    }
    .block1 {
        max-width: 250px;
    }
    .section4 p {
        font-size: 20px;
        text-align: center;
    }
    .div-footer {
        max-width: 700px;
        width: 100%;
    }
    .copyright {
        max-width: 700px;
        width: 100%;
    }
    .copyright p {
        width: 300px;
    }
    .wwww {
        margin-left: 50px;
    }
} 
}
/* 768 */
@media (max-width:768px) {
    .contact {
        margin-left: 40px;
    }
    .contact h2 {
        font-size: 20px;
    }
    .map {
        width: 700px;
    }
    .section1 {
        width: 700px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .nav-li {
        font-size: 14px;
    }
    .firstbox h2 {
        font-size: 20px;
        text-align: center;
    }
    .email {
        font-size: 14px;
    }
    .block1 {
        max-width: 200px;
        width: 100%;
    }
    .block1 p {
        max-width: 200px;
        width: 100%;
        padding: 0;
    }
    .phone {
        padding: 0 50px;
        text-align: center;
        max-width: 100px;
        width: 100%;
    }
}
/* 755px */
@media (max-width:755px) {
    .images img {
        max-width: 200px;
        width: 100%;
        height: 200px;
    }
}
/* 720 */
@media (max-width:720px) {
    .nav-li {
        display: none;
    }
    .burger {
        display: inline-block;
    }
    .header-div {
        justify-content: space-between;
        padding: 50px;
    }
    .map {
        width: 550px;
    }
    .section1 {
        width: 500px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .section {
        width: 550px;
        margin: 0 auto;
    }
    .firstbox h2 {
        font-size: 20px;
    }
    .form {
        width: 550px;
        justify-content: space-between;
        margin: 0 autos;
    }
    .left-block {
        width: 300px;
        height: 200px;
    }
    .textarea {
        width: 300px;
        height: 300px;
    }
    .right-block {
        width: 180px;
        height: 300px;
    }
}
/* 661px */
@media (max-width:661px) {
    .form {
        width: 500px;
    }
    .firstbox {
        width: 200px;
    }
    .firstbox h2 {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .section {
        width: 500px;
    }
    .map {
        width: 500px;
    }
    .section2 {
        width: 500px;
    }
    .button {
        font-size: 17px;
    }
    .icon {
        width: 40px;
        height: 40px;
        padding: 12px;
    }
    .div-footer {
        max-width: 600px;
        width: 100%;
    }
    .box3 {
        margin-left: 10px;
        width: 150px;
    }
    .box2 {
        margin-left: 20px;
    }
    .box1 {
        width: 200px;
    }
    .box1 p {
        font-size: 12px;
    }
    .copyright {
        max-width: 600px;
        width: 100%;
    }
}
/* 600px */
@media (max-width:600px) {
    .images img {
        max-width: 170px;
        width: 100%;
        height: 170px;
    }
    .div-footer {
        max-width: 550px;
        width: 100%;
    }
    .copyright {
        max-width: 550px;
        width: 100%;
    }
    .box3 {
        width: 150px;
        align-items: center;
        margin-left: 0;
    }
    .box2 {
        margin-left: 0;
    }
    .box1 {
        width: 150px;
    }
    .section3 {
        flex-wrap: wrap;
    }
    .block1 {
        max-width: 150px;
        width: 100%;
    }
}
/* 517px */
@media (max-width:517px) {
    .div-footer {
        max-width: 450px;
        width: 100%;
    }
    .box1 {
        display: none;
    }
    .copyright {
        max-width: 450px;
        width: 100%;
    }
    .images img {
        max-width: 130px;
        width: 100%;
        height: 130px;
    }
    .block1 p {
        font-size: 13px;
    }
}
/* 449px */
@media (max-width:449px) {
    .firstbox h2{
        font-size: 17px;
        max-width: 200px;
        width: 100%;
    }
    .section3 {
        flex-wrap: wrap;
    }
    .block1 {
        max-width: 140px;
        width: 140px;

    }
    .copyright {
        max-width: 400px;
        width: 100%;
    }
    .copyright p {
        font-size: 11px;
    }
    .foot-li {
        font-size: 12px;
    }
    .box3 p {
        font-size: 12px;
    }
}
/* 375px */
@media (max-width:375px) {
    .map {
        width: 300px;
        margin: 0 auto;
    }
    .section1 {
        width: 300px;
    }
    .section2 {
        width: 300px;
        margin: 0 auto;
    }
    .form {
        flex-wrap: wrap;
        width: 300px;
    }
    .right-block {
        width: 300px;
        margin: 0 auto;
        margin-top: 150px;
    }
    .firstbox h2 {
        width: 150px;
        font-size: 18px;
        text-align: center;
    }
    .firstbox {
        width: 300px;
    }
    .section {
        width: 300px;
    }
    .section3 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .block1 {
        width: 170px;
        height: 170px;
    }
    .block2 {
        margin-left: 15px;
        
    }
    .block2 p {
        padding: 0 13px;
        height: 25px;
    }
    .block1 {
        width: 150px;
        height: 140px;
        padding-top: 0;
    }
    .section4 p {
        font-size: 18px;
    }

    .images {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .images img {
        max-width: 170px;
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
    }
    .image2 {
        margin-left: 10px;
    }
}
@media (max-width:512px) {
    .section {
        width: 400px;
    }
    .section1 {
        width: 400px;
    }
    .map {
        width: 400px;
    }
    .form {
        flex-wrap: wrap;
    }
    .form {
        width: 400px;
        justify-content: center;
    }
    .right-block {
        margin-top: 150px;
    }
}
@media (max-width:493px) {
    .section {
        width: 400px;
    }
    .section1 {
        width: 400px;
    }
    .section2 {
        width: 400px;
    }
}
@media (max-width:412px) {
    .map {
        width: 300px;
    }
    .section {
        width: 300px;
    }
    .section1 {
        width: 300px;
    }
}
@media (max-width:399px) {
    .firstbox h2 {
        width: 250px;
    }
    .section2 {
        width: 390px;
    }
    .section {
        width: 390px;

    }
    .section1 {
        width: 390px;
    }
    .map {
        width: 300px;
        margin-left: 40px;
    }
    .form {
        width: 390px;
    }
    .firstbox h2 {
        font-size: 18px;
    }
}
@media (max-width:384px) {
    .section {
        width: auto;
    }
    .section1 {
        width: auto;
    }
    .section2 {
        width: auto;
    }
    .form {
        width: auto;
    }
}
@media (max-width:350px) {
    .map {
        width: 250px;
        height: 250px;
    }
}
@media (max-width:320px) {

}